
header{
  background-color: rgb(24, 65, 101);
  border: 8px antiquewhite;
  border-style: dashed;
  padding: 2em;
  color: salmon;
  font-size: 45px;
  text-align: center;
}
body{
  background-color: rgb(212, 213, 222);
}
a{ 
  text-align: center;
  display: block;
  margin: auto;
  font-size: 24px;
}
  
p{
  display: block;
  color:rgb(24, 65, 101);
  font-size: 24px;
  text-align: center;
  padding: 3em 10em;
}
img{
  display: block;
  margin: auto;
  padding-top: 0em;
  padding-bottom: 3em;
}
footer{
  display: block;
  text-align: center;
  margin: auto;
  padding: 2em;
}
